aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: var(--shadow);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

