aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: var(--shadow);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media (max-width: 768px) {
    .menu {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}